.contents
  = render 'layouts/header'
  .main
    .right
      .right__movin
        .right__movin__onoff-btn
          - if current_user.is_moving
            %input{type: 'button', value: '移動終了', data: {btn: 'end'}, class: "start_end_btn btn"}
          - else
            %input{type: 'button', value: '移動開始', data: {btn: 'start'}, class: "start_end_btn btn"}
      .right__user-status
        =link_to 'ユーザ情報変更', edit_user_registration_path(current_user), class: "header__right__left-btn_edit"
    .left
      .left__avatar-status
        =link_to 'アバターをつくる', new_avatar_path
        %div{style: "width:400px; height:360px; position:relative;"}
          現在地追跡(start watchingを押したら開始)
          #map{style: "width:400px; height:300px"}
          %button#location{style: "position:absolute; top:8px; right:8px; z-index:3; display:none;"}
            start watching

        #panorama
          %a{href: "javascript:void(0)", id: 'panorama--display' }
            <アバターくん>の視界を表示
          %a{href: "javascript:void(0)", id: 'panorama--refresh' }



          #panorama__view{style: "width:400px; height:200px"}
        アバターの現在駅
        = @station.odpt_sameAs
        %br/
        列車時刻表
        = @train_timetable
        %br/
        現在地
        = @position
        