.contents
  = render 'layouts/header'
  .main
    .right
      .right__movin
        .right__movin__onoff-btn
          %input{type: 'button', value: '移動開始', data: {btn: 'start'}, class: "start_end_btn btn"}
      .right__user-status
        =link_to 'ユーザ情報変更', edit_user_registration_path(current_user), class: "header__right__left-btn_edit"
    .left
      .left__avatar-status
        =link_to 'アバターをつくる', new_avatar_path
        %div{style: "width:400px; height:360px; position:relative;"}
          現在地追跡(start watchingを押したら開始)
          #map{style: "width:400px; height:300px"}
          %button#location{style: "position:absolute; top:8px; right:8px; z-index:3; display:none;"}
            start watching

        #street_refresh
          ここをクリックでストリートビューを表示
          = @station.odpt_sameAs
          = @train_timetable
          = @position

        #street{style: "width:400px; height:200px"}


        