.form{
  margin: 0 auto;
  // background-color: $form_bgc;
  padding: 20px;
  &__type-select{
    display:flex;
    text-align: center;
    box-sizing : border-box;
    margin: auto;
    justify-content: center;
    &__op{
      margin: 10px;
      text-align: center;
      &__img{
        margin: 10px;
        &--selected{
          box-shadow: 0 0 15px rgb(252, 164, 0);
        }
      }
    }
  }
}

#hidden{
  display: none;
}

.form__errors{
  background-color: $error_message_bgc;
  padding: 10px;
}