*{
  box-sizing : border-box;
}

.contents{
  min-height: $contents_height;
  min-width: $contents_width;
  background-color:$contents_bgc;

  .main_page{
    display: flex;
    padding: 10px 0;
    min-width:  $contents_width;
    background-color: $contents_bgc;
    justify-content: center;
    .left{
      text-align: center;
      min-height: 100%;
      min-width: 200px;
      width: 20%;
      margin: 10px;
      
      &__movin{
        margin: 10px;
        &__onoff-btn{
          margin: 10px 10px 20px 10px;
        }
        &__avatar{
          background-color: $light_box_bgc;
          padding: 10px;
          border-radius: 5% 5% 5% 5%;
          &__img{
            position: relative;
            .avatar_edit_btn{
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
      &__user-status{
        margin: 10px;
        height: 300px;
      }
    }

    .right{
      height: 100%;
    }
  }
}

.right{
  padding: 10px;
  margin: 20px 10px;
  display: flex;
}

#gmap{
  text-align: left;
  // style追記
  width:400px;
  height:400px;
}

#gmap__option{
  height: 25px;
}

#gmap__map{
  border: solid 8px $general_color;
  box-sizing: content-box;
  margin: 10px 5px;
// style追記
  width:400px;
  height:380px;
}

#panorama{
  margin: 0 40px;
  width:400px;
  height:400px;
}

#panorama__option{
  text-align: left;
  height: 25px;
  display: flex;
}

#panorama__view{
  border: solid 8px $general_color;
  box-sizing: content-box;
  margin: 10px 0;
  // style追記
  width:400px;
  height:380px;
}

.avatar_img_show{
  background:-webkit-gradient(radial, center, 0, center, 100, from(rgb(188, 233, 138)), to($light_box_bgc));
  background:-webkit-radial-gradient(center, circle , rgb(188, 233, 138), $light_box_bgc);
  background:-moz-radial-gradient(center, circle , rgb(188, 233, 138), $light_box_bgc);
  background:-o-radial-gradient(center, circle , rgb(188, 233, 138), $light_box_bgc);
  background:radial-gradient(circle farthest-side at center, rgb(188, 233, 138), $light_box_bgc);
}

@media screen and (max-width: 1030px) {
  .right{
    display: block;
    #panorama{
      margin: 50px 0;
    }
    #panorama__view{
      margin: 10px 5px;

    }
  }
}


@media screen and (max-width: 700px) {
  li.infolist{
    display: flex;
  }
  .contents{
    .main_page{
      justify-content: start;
      display: block;
      .left{
        min-width: 100%;
        .left__movin{
          .left__movin__avatar{
            display: flex;
            .left__movin__avatar__img{
              margin: auto;
            }

            .left__movin__avatar__infos{
              display: flex;
              overflow: scroll;
            } 
          }
        }
      }
      .right{
        @media screen and (max-height: 350px){
          display: flex;
        }
        #gmap{
          width: 100%;
          #gmap__map{
            margin: 10px auto;
            width: 90%;
          }
        }
        #panorama{
          width: 100%;
          #panorama__view{
            width: 90%;
          }
        }
      }
    }
  }
}