*{
  box-sizing : border-box;
}

.contents{
  min-height: $contents_height;
  min-width: $contents_width;
  background-color:$contents_bgc;

  .main_page{
    display: flex;
    padding: 10px 0;
    min-width:  $contents_width;
    background-color: $contents_bgc;
    justify-content: center;
    .left{
      text-align: center;
      min-height: 100%;
      min-width: 200px;
      width: 20%;
      // min-width: 200px;
      margin: 10px;
      
      &__movin{
        margin: 10px;
        // max-width: 200px;
        &__onoff-btn{
          margin: 10px 10px 20px 10px;
        }
        &__avatar{
          background-color: $light_box_bgc;
          padding: 10px;
          border-radius: 5% 5% 5% 5%;
          &__img{
            position: relative;
            .avatar_edit_btn{
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
      &__user-status{
        margin: 10px;
        height: 300px;
      }
    }

    .right{
      height: 100%;
    }
  }
}

.right{
  padding: 10px;
  margin: 20px 10px;
  display: flex;
}

#gmap{
  text-align: left;
}

#gmap__option{
  height: 25px;
}

#gmap__map{
  border: solid 8px $general_color;
  box-sizing: content-box;
  margin: 10px 5px;
}

#panorama{
  margin: 0 40px;
}

#panorama__option{
  text-align: left;
  height: 25px;
  display: flex;
}

#panorama__view{
  border: solid 8px $general_color;
  box-sizing: content-box;
  margin: 10px 0;
}

.avatar_img_show{
  background:-webkit-gradient(radial, center, 0, center, 100, from(rgb(188, 233, 138)), to($light_box_bgc));
  background:-webkit-radial-gradient(center, circle , rgb(188, 233, 138), $light_box_bgc);
  background:-moz-radial-gradient(center, circle , rgb(188, 233, 138), $light_box_bgc);
  background:-o-radial-gradient(center, circle , rgb(188, 233, 138), $light_box_bgc);
  background:radial-gradient(circle farthest-side at center, rgb(188, 233, 138), $light_box_bgc);
}

@media screen and (max-width: 1030px) {
  .right{
    display: block;
    #panorama{
      margin: 50px 0;
    }
    #panorama__view{
      margin: 10px 5px;
    }
  }
}

