.devise_form{
  // background-color: $devise_form_bgc;
  width: 60%;
  height: auto;
  margin: 30px auto;
  padding: 30px;
}

.form_title{
  text-align: center;
}

// .btn{
//   @include input_btn;
//   padding: 0 20px;
//   width: 140px;
//   height: 70px;
// }

#error_explanation{
  height: auto;
  background-color: $error_message_bgc;
}