.devise_form{
  background-color: $devise_form_bgc;
  width: 60%;
  height: auto;
  margin: 30px auto;
  padding: 30px;
}

.form_title{
  text-align: center;
}

.btn{
  padding: 0 20px;
  background-color: $gene_btn_color;
  color: #e9e5dd;
  width: 140px;
  height: 70px;
  transition: .4s;
  border-radius: 48%;
}

#error_explanation{
  height: auto;
  background-color: $error_message_bgc;
}