.devise_form{
  background-color: $devise_form_bgc;
  width: 60%;
  height: auto;
  margin: 30px auto;
  padding: 30px;
}

.form_title{
  text-align: center;
}

.btn{
  padding: 0 20px;
  background-color: $form_btn_defo_bgc;
  height: 40px;
}

#error_explanation{
  height: auto;
  background-color: $error_message_bgc;
}