*{
  box-sizing : border-box;
}

.header{
  background-color:$header_bgc;
  width: 100vw;
  height: $header_height;

  &__app-title{
    color: $general_color;
    font-size: $title-font-size;
    padding: 0 10px;
    line-height: 70px;
    height: 60%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  &__copy{
    color: $general_color;
    font-size: calc($title-font-size/2);
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}

.right_var{
  width: 300px;
  padding: 0 20px;
  margin: 0 0 0 auto;
  &__left-btn{
    line-height: $header_height;

    &_show{
      margin: 10px;
      height: 50px;
      width: 50px;
      line-height: $header_height;
    }
  }
  &__right-btn{
    line-height: $header_height;
    &_logout{
      margin: 10px;
      height: 50px;
      width: 50px;
      line-height: $header_height;
    }
  }
}

