*{
  box-sizing : border-box;
}

.header{
  background-color: rgb(231, 104, 73);
  width: 100vw;
  height: $header_height;
  display: flex;

  &__app-title{
    color: #fff;
    font-size: $title-font-size;
    padding: 0 10px;
    line-height: $header_height;
  }

  &__right{
    display:flex;
    padding: 0 20px;
    margin: 0 0 0 auto;
    &__left-btn{
      line-height: $header_height;

      &_show{
        margin: 10px;
        height: 50px;
        width: 50px;
        line-height: $header_height;
      }
    }
    &__right-btn{
      line-height: $header_height;
      &_logout{
        margin: 10px;
        height: 50px;
        width: 50px;
        line-height: $header_height;
      }
    }
  }
}

