*{
  box-sizing: border-box;
}

.show{
  display: flex;
  padding: 20px;
  justify-content: center;

  .user_infos{
    max-width: 30%;
    max-height: 70vh;
    margin: 0 20px;
    background-color: $light_box_bgc;
    border-radius: 0 5% 5% 5%;

    &__header{
      position: sticky;
      top: 0px;
      height: 50px;
      width: 100%;
      line-height: 50px;
      padding: 0 10px 0 0;
      display: flex;
      border-bottom: dotted 2px $accent_color;
      background-color: $light_box_bgc;
    }

    &__main{
      height: calc(100% - 50px);
      padding: 10px;
      overflow: scroll;
    }
  }

  .name{
    line-height: 50px;
  }

  .edit_link{
    margin: 0 0 0 auto;
  }

  .avatars_infos{
    max-width: 65%;
    height: 70vh;
    background-color: $light_box_bgc;
    border-radius: 0 5% 5% 5%;
    margin: 0 20px;

    &__header{
      height: 50px;
      position: sticky;
      background-color: $light_box_bgc;
      border-bottom: dotted 2px $accent_color;
      line-height: 50px;
      padding: 0 10px 0 0;
      display: flex;
    }

    &__main{
      display: flex;
      padding: 10px;
      height: calc(100% - 50px);

      &__right{
        margin: 0 5px;
        height: 100%;
        text-align: center;
        overflow: scroll;
      }
    }
  }

  .user_infos_main__infolist{
    display:flex;
    @media screen and (max-width: 1200px) {
      display: block;
    }
    // .info_key{
    //   min-width: 130px;
    //   font-weight: bold;
    // }
    // .info_value{
    //   margin: 0 10px;
    // }
  }
  .avatars_infos__main__right___infolist{
    display:flex;
    @media screen and (max-width: 1200px) {
      display: block;
    }
    // .info_key{
    //   min-width: 130px;
    //   font-weight: bold;
    // }
    // .value{
    //   margin: 0 10px;
    // }
  }

  .detail_btn{
    @include input_btn(20px);
    background-color: $sec_light_box_bgc;
    color: $general_color;
    border: solid 1px $general_color;
    outline: none;
    appearance: none;
    font: 400 11px system-ui;
    padding: 1px 20px;
    margin: 2px 0;;
    text-align: center; 
    cursor : pointer;
  }

  .detail_list{
    text-align: left;
    font-size: 0.8em;
    padding: 0 5px;
  }
  
  .passed_station_list{
    position: relative;
  }


  .detail_stations{
    display: none;
  }

  .railway_list:hover + .detail_stations{
    display: block;
    background-color:$light_box_bgc;
    position: absolute;
    width: 10em;
    padding: 0.4em;
    border-radius: 5% 5% 5% 5%;
    left: 10px;
    // top: 50px;
  }

  .avatars_infos__main__map__gmap{
    max-width: 45vw;
    max-height: 60vh;
    border: solid 8px $general_color;
    box-sizing: border-box;
  }
}

.modal_table{
  display: flex;
  color: $general_color;
  text-align: center;
  background-color: $light_box_bgc;
  padding: 20px;
  justify-content: center;
  border: dotted 2px $accent_color;
  position: relative;
}

.modal_text{
  text-align: left;
  position: absolute;
  top: 10%;
  left: 3em;
  font-size: 0.8em;
}
.modal_items{
  margin: 0 1em;
}
.modal_user_name{
  text-align: left;
}

.modal_passed_railways{
  text-align: right;
}
.modal_passed_stations{
  text-align: right;
}

.item_title{
  border-bottom: solid 1px $accent_color;
  font-weight: bold;
}