*{
  font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}


// link_toのボタン化
a.btn{
  padding: 20px;
  margin:  0 10px;
  @include input_btn();
}

// link_toのボタン化(小さめ、色反転)
a.btn_small_nega{
  @include input_btn(30px);
  background-color: $base_color;
  color: $accent_color;
  border: solid 3px $accent_color;
  outline: none;
  appearance: none;
  // フォントあとで変えます
  font: 400 11px system-ui;
  padding: 5px 20px;
  
}

// link_toのボタン化（1文字用）
a.small_btn{
  padding: 10px;
  @include input_btn(45px);
  font-size: 18px;
  // box-shadow: 0px 0px 0px 5px $gene_btn_bgc;
}

// buttonタグのボタン化
.btn_btn{
  padding: 0 20px;
  margin:  0 10px;
  appearance: none;
  outline: none;
  @include input_btn();
}

// 移動開始等、大きいボタン
.large_btn{
  outline: none;
  appearance: none;
  @include large_btn();
}

.avatar_img{
  border: solid 4px $accent_color;
  border-radius: 8% 8% 8% 8%;
}

ul.infos_items{
  position: relative;
}

li.default{
  color: $general_color;
  border-left: solid 8px #992E24;/*左側の線*/
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 25px;
  padding: 10px;
  list-style-type: none!important;/*ポチ消す*/
  text-align:left;
}

li.infolist{
  color: $general_color;
  border-left: solid 8px $sec_accent_color;/*左側の線*/
  border-radius: 0 15px 15px 0;
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 25px;
  padding: 5px;
  margin: 10px;
  font-size: 0.9em;
  list-style-type: none;
  background-color: $sec_light_box_bgc;
  display: flex;
}

@media screen and (max-width: 1150px) {
  li.infolist{
    display: block;
  }
}

.info_key{
  min-width: 125px;
  margin: 0 5px;
  font-weight: bold;
  text-align: left;
  &__index{
    min-width: 80px;
    margin: 0 5px;
    font-weight: bold;
    text-align: left;
  }
}
.info_value{
  margin: 0 5px;
  text-align: left;
}

// li.infolist:before{ 
//   display:inline-block; 
//   vertical-align: middle;
//   /*以下白丸つくる*/
//   content:'';
//   width:1em;
//   height: 1em;
//   background: blue;
//   border-radius: 50%;
//   margin-right: 8px;
// }


.list{
  color: $general_color;
  border-left: solid 8px #992E24;/*左側の線*/
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 15px;
  padding: 10px;
}

.big_list{
  color: $general_color;
  border-left: solid 10px $accent_color;
  // margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 15px;
  padding: 0 10px;
  color: $accent_color;
  display: flex;
}

.devise_form{
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.form_style{
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.links{
  margin: 10px;
}

.form_title{
  text-align: center;
}

#error_explanation{
  height: auto;
  background-color: $error_message_bgc;
}

.field{
  width: 35vw;
  min-width: 200px;
  text-align:left;
  margin: 2vh auto;
}

input[type=text],input[type=email], input[type=password]{
  width: 32vw;
  min-width: 180px;
  height: 2em;
  text-align: left;
  padding: 0 0.5em;
}

// 文字が小さい文章で
.small_str{
  font-size: 0.7em;
}

// ページタイトルで
h2.page_title{
  display: inline-block;
  color: $accent_color;
  font-size: 1.07em;
  border-top   : dotted 2px $accent_color;
  border-bottom: dotted 2px $accent_color;
  padding: 0.7em 1em;
  margin-bottom: 1em;
}

p.key{
  margin: 0 10px 0 0;
}

p.value{
  color: $general_color;

}

#error_explanation{
  max-width: 40vw;
  margin: 0 auto;
}


.map_btn{
  @include input_btn(30px);
  background-color: $light_box_bgc;
  color: $accent_color;
  border: solid 3px $accent_color;
  outline: none;
  appearance: none;
  // フォントあとで変えます
  font: 400 11px system-ui;
  padding: 5px;
  margin: 0 5px;
}

.indivi{
  display: none;
}
