*{
  font-family: 'ヒラギノ角ゴシック','YuGothic','Yu Gothic','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic';
}


// link_toのボタン化
a.btn{
  padding: 12px;
  margin:  0 10px;
  @include input_btn();
}

a.btn:active{
  @include clicked_input_btn();
}

// link_toのボタン化(小さめ、色反転)
a.btn_small_nega{
  @include input_btn(30px);
  background-color: $light_box_bgc;
  color: $accent_color;
  border: solid 3px $accent_color;
  outline: none;
  appearance: none;
  font: 400 11px system-ui;
  padding: 5px 20px;

  @media screen and (max-width: 350px){
    padding: 5px;  
  }

}

a.btn_small_nega:active{
  background-color: $accent_color;
  color: $light_box_bgc;
}

// link_toのボタン化（1文字用）
a.small_btn{
  padding: 10px;
  @include input_btn(45px);
  border-radius: 50%;
  font-size: 18px;
  // box-shadow: 0px 0px 0px 5px $gene_btn_bgc;
}

a.small_btn:active{
  @include clicked_input_btn();
}

// buttonタグのボタン化
.btn_btn{
  padding: 0 20px;
  margin:  0 10px;
  appearance: none;
  outline: none;
  @include input_btn();
}

.btn_btn:active{
  @include clicked_input_btn();
}

// 移動開始等、大きいボタン
.large_btn_end{
  outline: none;
  appearance: none;
  @include large_btn_end();
}

.large_btn_end:active{
  @include clicked_large_btn_end();
}

// 移動開始等、大きいボタン
.large_btn_start{
  outline: none;
  appearance: none;
  @include large_btn_start();
}

.large_btn_start:active{
  @include clicked_large_btn_start();
}


.avatar_img{
  border: solid 4px $accent_color;
  border-radius: 8% 8% 8% 8%;
}

ul.infos_items{
  position: relative;
}

li.default{
  color: $general_color;
  border-left: solid 8px #992E24;/*左側の線*/
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 25px;
  padding: 10px;
  list-style-type: none!important;/*ポチ消す*/
  text-align:left;
}

li.infolist{
  color: $general_color;
  border-left: solid 8px $sec_accent_color;/*左側の線*/
  border-radius: 0 15px 15px 0;
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 25px;
  padding: 5px;
  margin: 10px;
  font-size: 0.9em;
  list-style-type: none;
  background-color: $sec_light_box_bgc;
  display: flex;
}

@media screen and (max-width: 1150px) {
  li.infolist{
    display: block;
  }
}

.info_key{
  min-width: 125px;
  margin: 0 5px;
  font-weight: bold;
  text-align: left;
  &__index{
    min-width: 65px;
    margin: 0 5px;
    font-weight: bold;
    text-align: left;
  }
}
.info_value{
  margin: 0 5px;
  text-align: left;
}

.list{
  color: $general_color;
  border-left: solid 8px #992E24;/*左側の線*/
  margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 15px;
  padding: 10px;
}

.big_list{
  color: $general_color;
  border-left: solid 10px $accent_color;
  // margin-bottom: 10px;/*下のバーとの余白*/
  line-height: 15px;
  padding: 0 10px;
  color: $accent_color;
  display: flex;
}

.devise_form{
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.form_style{
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.links{
  margin: 10px;
}

.form_title{
  text-align: center;
}

#error_explanation{
  height: auto;
  background-color: $error_message_bgc;
}

.field{
  width: 35vw;
  min-width: 200px;
  text-align:left;
  margin: 2vh auto;
}

input[type=text],input[type=email], input[type=password]{
  width: 32vw;
  min-width: 180px;
  height: 2em;
  text-align: left;
  padding: 0 0.5em;
}

// 文字が小さい文章で
.small_str{
  font-size: 0.7em;
}

// ページタイトルで
h2.page_title{
  display: inline-block;
  color: $accent_color;
  font-size: 1.07em;
  border-top   : dotted 2px $accent_color;
  border-bottom: dotted 2px $accent_color;
  padding: 0.7em 1em;
  margin-bottom: 1em;
}

p.key{
  margin: 0 10px 0 0;
}

p.value{
  color: $general_color;

}

#error_explanation{
  max-width: 40vw;
  margin: 0 auto;
}


.map_btn{
  @include input_btn(30px);
  background-color: $light_box_bgc;
  color: $accent_color;
  border: solid 3px $accent_color;
  outline: none;
  appearance: none;
  // フォントあとで変えます
  font: 400 11px system-ui;
  padding: 5px;
  margin: 0 5px;
  cursor : pointer;
}

.map_btn:active{
  background-color: $accent_color;
  color: $light_box_bgc;
}


.indivi{
  display: none;
}

.arrow_box {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
