$header_height    : 70px;
$title-font-size  : 20px;

$contents_right_width  : 300px;
$contents_right_height : 300px;
$contents_right_bgc    : rgb(248, 243, 197);
// $contents_right_bgc    : rgb(241, 211, 182);