// base  : #e9e5dd
// accent: #992E24
// accent: #d04925
// accent: #696464

$accent_color: #992E24;
$base_color  : #f3efe8;


$general_color:#696464;
$flash_bgc :   #D04925;
// $form_bgc  : rgb(178, 223, 178);
$form_bgc  :   $base_color;
$header_bgc:   $base_color;
$gene_btn_bgc: #D04925;

$light_box_bgc: #fdfdf1;


$header_height    : 100px;
$title-font-size  : 30px;
$contents_bgc     :$base_color;

$contents_height  : 100vh;
$contents_width   : 100vw;


// $contents_right_width  : 80%;
$contents_right_height : 300px;
// $contents_right_bgc    : rgb(248, 243, 197);
// $contents_right_user-status_bgc    : rgb(241, 211, 182);
$contents_right_bgc    : #e9e5dd;
$contents_right_user-status_bgc    : #e9e5dd;


$contents_left_width : calc(100vw - $contents_right_width);
$contents_left_avatar-status_bgc: rgb(178, 223, 178);

$devise_form_bgc  : rgb(178, 223, 178);
$form_btn_defo_bgc: rgb(243, 234, 148);
$error_message_bgc: rgba(255,255,255,0.5);

$user_infos__bgc: rgb(248, 243, 197);
$avatars_infos__bgc: rgb(178, 223, 178);

$user_infos_header_bgc: rgb(243, 234, 148);
$avatar_infos_header_bgc:  rgb(145, 197, 145);