.header
  .header__app-title
    .abatabi
      あばたび
    .copy
      アバターがあなたの代わりに旅をします
  .btn_var
    - if user_signed_in?
      .btn_var__btns
        - unless current_page?(root_path(current_user)) || current_page?( new_avatar_path )
          = link_to 'TOPへ戻る', root_path(current_user),class: "btn"
        - unless current_page?(user_path(current_user)) || current_page?( new_avatar_path )
          = link_to 'ユーザページ', user_path(current_user), class: "btn"
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn"
