.header
  .header__app-title
    .abatabi
      - img_src = "title.png"
      = image_tag "https://avatar-bi.s3-ap-northeast-1.amazonaws.com/icons/title.png", alt: "タイトルロゴ", class: "header_title"

    .copy
      アバターがあなたの代わりに旅をします
  .btn_var
    - if user_signed_in?
      .btn_var__btns
        .btns
          - unless current_page?(root_path(current_user)) || current_page?( new_avatar_path )
            = link_to 'TOPへ戻る', root_path(current_user),class: "btn"
          - unless current_page?(user_path(current_user)) || current_page?( new_avatar_path )
            = link_to 'ユーザーページ', user_path(current_user), class: "btn"
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn"
