.station_search
  = form_with url: stations_path ,local: true do |f|
    = f.text_field :keyword, placeholder: "test_アバターの出発駅", id: "home_station_input-field"
    = f.button '送信する', type: 'button', onclick: 'submit();' , id: "hidden"